.elementor-widget-heading.elementor-widget-heading .elementor-heading-title{
    color:#ddd
}
.elementor-widget-heading .elementor-heading-title{
    font-weight:600
}
.elementor-widget-image .widget-image-caption{
    color:#ddd;
    font-weight:400
}
.elementor-widget-text-editor{
    color:#ddd;
    font-weight:400
}
.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap{
    background-color:#ddd
}
.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap,.elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap{
    color:#ddd;
    border-color:#ddd
}
.elementor-widget-button a.elementor-button,.elementor-widget-button .elementor-button{
    font-weight:500;
    background-color:#ddd
}
.elementor-widget-divider{
    --divider-border-color:#ddd
}
.elementor-widget-divider .elementor-divider__text{
    color:#ddd;
    font-weight:400
}
.elementor-widget-divider.elementor-view-stacked .elementor-icon{
    background-color:#ddd
}
.elementor-widget-divider.elementor-view-framed .elementor-icon,.elementor-widget-divider.elementor-view-default .elementor-icon{
    color:#ddd;
    border-color:#ddd
}
.elementor-widget-divider.elementor-view-framed .elementor-icon,.elementor-widget-divider.elementor-view-default .elementor-icon svg{
    fill:#ddd
}
.elementor-widget-image-box .elementor-image-box-content .elementor-image-box-title{
    color:#ddd;
    font-weight:600
}
.elementor-widget-image-box .elementor-image-box-content .elementor-image-box-description{
    color:#ddd;
    font-weight:400
}
.elementor-widget-icon.elementor-view-stacked .elementor-icon{
    background-color:#ddd
}
.elementor-widget-icon.elementor-view-framed .elementor-icon,.elementor-widget-icon.elementor-view-default .elementor-icon{
    color:#ddd;
    border-color:#ddd
}
.elementor-widget-icon.elementor-view-framed .elementor-icon,.elementor-widget-icon.elementor-view-default .elementor-icon svg{
    fill:#ddd
}
.elementor-widget-icon-box.elementor-view-stacked .elementor-icon{
    background-color:#ddd
}
.elementor-widget-icon-box.elementor-view-framed .elementor-icon,.elementor-widget-icon-box.elementor-view-default .elementor-icon{
    fill:#ddd;
    color:#ddd;
    border-color:#ddd
}
.elementor-widget-icon-box .elementor-icon-box-content .elementor-icon-box-title{
    color:#ddd;
    font-weight:600
}
.elementor-widget-icon-box .elementor-icon-box-content .elementor-icon-box-description{
    color:#ddd;
    font-weight:400
}
.elementor-widget-star-rating .elementor-star-rating__title{
    color:#ddd;
    font-weight:400
}
.elementor-widget-image-carousel .elementor-image-carousel-caption{
    font-weight:500
}
.elementor-widget-image-gallery .gallery-item .gallery-caption{
    font-weight:500
}
.elementor-widget-icon-list .elementor-icon-list-item:not(:last-child):after{
    border-color:#ddd
}
.elementor-widget-icon-list .elementor-icon-list-icon i{
    color:#ddd
}
.elementor-widget-icon-list .elementor-icon-list-icon svg{
    fill:#ddd
}
.elementor-widget-icon-list .elementor-icon-list-text{
    color:#ddd
}
.elementor-widget-icon-list .elementor-icon-list-item{
    font-weight:400
}
.elementor-widget-counter .elementor-counter-number-wrapper{
    color:#ddd;
    font-weight:600
}
.elementor-widget-counter .elementor-counter-title{
    color:#ddd;
    font-weight:400
}
.elementor-widget-progress .elementor-progress-wrapper .elementor-progress-bar{
    background-color:#ddd
}
.elementor-widget-progress .elementor-title{
    color:#ddd;
    font-weight:400
}
.elementor-widget-testimonial .elementor-testimonial-content{
    color:#ddd;
    font-weight:400
}
.elementor-widget-testimonial .elementor-testimonial-name{
    color:#ddd;
    font-weight:600
}
.elementor-widget-testimonial .elementor-testimonial-job{
    color:#ddd;
    font-weight:400
}
.elementor-widget-tabs .elementor-tab-title{
    color:#ddd;
    font-weight:600
}
.elementor-widget-tabs .elementor-tab-title.elementor-active{
    color:#ddd
}
.elementor-widget-tabs .elementor-tab-content{
    color:#ddd;
    font-weight:400
}
.elementor-widget-accordion .elementor-accordion .elementor-tab-title{
    color:#ddd;
    font-weight:600
}
.elementor-widget-accordion .elementor-accordion .elementor-tab-title.elementor-active{
    color:#ddd
}
.elementor-widget-accordion .elementor-accordion .elementor-tab-content{
    color:#ddd;
    font-weight:400
}
.elementor-widget-toggle .elementor-toggle .elementor-tab-title{
    color:#ddd;
    font-weight:600
}
.elementor-widget-toggle .elementor-toggle .elementor-tab-title.elementor-active{
    color:#ddd
}
.elementor-widget-toggle .elementor-toggle .elementor-tab-content{
    color:#ddd;
    font-weight:400
}
.elementor-widget-alert .elementor-alert-title{
    font-weight:600
}
.elementor-widget-alert .elementor-alert-description{
    font-weight:400
}
.elementor-widget-full-screen-menu-for-elementor .content-type-menu a{
    font-weight:600
}
.elementor-widget-theme-site-logo .widget-image-caption{
    color:#ddd;
    font-weight:400
}
.elementor-widget-theme-site-title.elementor-widget-heading .elementor-heading-title{
    color:#ddd
}
.elementor-widget-theme-site-title .elementor-heading-title{
    font-weight:600
}
.elementor-widget-theme-page-title.elementor-widget-heading .elementor-heading-title{
    color:#ddd
}
.elementor-widget-theme-page-title .elementor-heading-title{
    font-weight:600
}
.elementor-widget-theme-post-title.elementor-widget-heading .elementor-heading-title{
    color:#ddd
}
.elementor-widget-theme-post-title .elementor-heading-title{
    font-weight:600
}
.elementor-widget-theme-post-excerpt .elementor-widget-container{
    color:#ddd;
    font-weight:400
}
.elementor-widget-theme-post-content{
    color:#ddd;
    font-weight:400
}
.elementor-widget-theme-post-featured-image .widget-image-caption{
    color:#ddd;
    font-weight:400
}
.elementor-widget-theme-archive-title.elementor-widget-heading .elementor-heading-title{
    color:#ddd
}
.elementor-widget-theme-archive-title .elementor-heading-title{
    font-weight:600
}
.elementor-widget-archive-posts .elementor-post__title,.elementor-widget-archive-posts .elementor-post__title a{
    color:#ddd;
    font-weight:600
}
.elementor-widget-archive-posts .elementor-post__meta-data{
    font-weight:400
}
.elementor-widget-archive-posts .elementor-post__excerpt p{
    font-weight:400
}
.elementor-widget-archive-posts .elementor-post__read-more{
    color:#ddd;
    font-weight:500
}
.elementor-widget-archive-posts .elementor-post__card .elementor-post__badge{
    background-color:#ddd;
    font-weight:500
}
.elementor-widget-archive-posts .elementor-pagination{
    font-weight:400
}
.elementor-widget-archive-posts .elementor-posts-nothing-found{
    color:#ddd;
    font-weight:400
}
.elementor-widget-posts .elementor-post__title,.elementor-widget-posts .elementor-post__title a{
    color:#ddd;
    font-weight:600
}
.elementor-widget-posts .elementor-post__meta-data{
    font-weight:400
}
.elementor-widget-posts .elementor-post__excerpt p{
    font-weight:400
}
.elementor-widget-posts .elementor-post__read-more{
    color:#ddd;
    font-weight:500
}
.elementor-widget-posts .elementor-post__card .elementor-post__badge{
    background-color:#ddd;
    font-weight:500
}
.elementor-widget-posts .elementor-pagination{
    font-weight:400
}
.elementor-widget-portfolio a .elementor-portfolio-item__overlay{
    background-color:#ddd
}
.elementor-widget-portfolio .elementor-portfolio-item__title{
    font-weight:600
}
.elementor-widget-portfolio .elementor-portfolio__filter{
    color:#ddd;
    font-weight:600
}
.elementor-widget-portfolio .elementor-portfolio__filter.elementor-active{
    color:#ddd
}
.elementor-widget-gallery .elementor-gallery-item__title{
    font-weight:600
}
.elementor-widget-gallery .elementor-gallery-item__description{
    font-weight:400
}
.elementor-widget-gallery a.elementor-item{
    color:#ddd
}
.elementor-widget-gallery .elementor-gallery-title{
    font-weight:600
}
.elementor-widget-gallery a.elementor-item:hover,.elementor-widget-gallery a.elementor-item.elementor-item-active,.elementor-widget-gallery a.elementor-item.highlighted,.elementor-widget-gallery a.elementor-item:focus{
    color:#ddd
}
.elementor-widget-gallery .elementor-gallery__titles-container:not(.e--pointer-framed) .elementor-item:before,.elementor-widget-gallery .elementor-gallery__titles-container:not(.e--pointer-framed) .elementor-item:after{
    background-color:#ddd
}
.elementor-widget-gallery .e--pointer-framed .elementor-item:before,.elementor-widget-gallery .e--pointer-framed .elementor-item:after{
    border-color:#ddd
}
.elementor-widget-gallery a.elementor-item.elementor-item-active{
    color:#ddd
}
.elementor-widget-gallery .elementor-gallery__titles-container:not(.e--pointer-framed) .elementor-item.elementor-item-active:before,.elementor-widget-gallery .elementor-gallery__titles-container:not(.e--pointer-framed) .elementor-item.elementor-item-active:after{
    background-color:#ddd
}
.elementor-widget-gallery .e--pointer-framed .elementor-item.elementor-item-active:before,.elementor-widget-gallery .e--pointer-framed .elementor-item.elementor-item-active:after{
    border-color:#ddd
}
.elementor-widget-form .elementor-field-group>label,.elementor-widget-form .elementor-field-subgroup label{
    color:#ddd
}
.elementor-widget-form .elementor-field-group>label{
    font-weight:400
}
.elementor-widget-form .elementor-field-type-html{
    color:#ddd;
    font-weight:400
}
.elementor-widget-form .elementor-field-group .elementor-field{
    color:#ddd
}
.elementor-widget-form .elementor-field-group .elementor-field,.elementor-widget-form .elementor-field-subgroup label{
    font-weight:400
}
.elementor-widget-form .elementor-button{
    background-color:#ddd;
    font-weight:500
}
.elementor-widget-form .elementor-message{
    font-weight:400
}
.elementor-widget-login .elementor-field-group>a{
    color:#ddd
}
.elementor-widget-login .elementor-field-group>a:hover{
    color:#ddd
}
.elementor-widget-login .elementor-form-fields-wrapper label{
    color:#ddd;
    font-weight:400
}
.elementor-widget-login .elementor-field-group .elementor-field{
    color:#ddd
}
.elementor-widget-login .elementor-field-group .elementor-field,.elementor-widget-login .elementor-field-subgroup label{
    font-weight:400
}
.elementor-widget-login .elementor-button{
    font-weight:500;
    background-color:#ddd
}
.elementor-widget-login .elementor-widget-container .elementor-login__logged-in-message{
    color:#ddd;
    font-weight:400
}
.elementor-widget-slides .elementor-slide-heading{
    font-weight:600
}
.elementor-widget-slides .elementor-slide-description{
    font-weight:400
}
.elementor-widget-slides .elementor-slide-button{
    font-weight:500
}
.elementor-widget-nav-menu .elementor-nav-menu .elementor-item{
    font-weight:600
}
.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item{
    color:#ddd
}
.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item:hover,.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item.elementor-item-active,.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item.highlighted,.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item:focus{
    color:#ddd
}
.elementor-widget-nav-menu .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,.elementor-widget-nav-menu .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after{
    background-color:#ddd
}
.elementor-widget-nav-menu .e--pointer-framed .elementor-item:before,.elementor-widget-nav-menu .e--pointer-framed .elementor-item:after{
    border-color:#ddd
}
.elementor-widget-nav-menu .elementor-nav-menu--dropdown{
    font-weight:500
}
.elementor-widget-animated-headline .elementor-headline-dynamic-wrapper path{
    stroke:#ddd
}
.elementor-widget-animated-headline .elementor-headline-plain-text{
    color:#ddd
}
.elementor-widget-animated-headline .elementor-headline{
    font-weight:600
}
.elementor-widget-animated-headline .elementor-headline-dynamic-text{
    color:#ddd;
    font-weight:600
}
.elementor-widget-price-list .elementor-price-list-header{
    color:#ddd;
    font-weight:600
}
.elementor-widget-price-list .elementor-price-list-description{
    color:#ddd;
    font-weight:400
}
.elementor-widget-price-list .elementor-price-list-separator{
    border-bottom-color:#ddd
}
.elementor-widget-price-table .elementor-price-table__header{
    background-color:#ddd
}
.elementor-widget-price-table .elementor-price-table__heading{
    font-weight:600
}
.elementor-widget-price-table .elementor-price-table__subheading{
    font-weight:400
}
.elementor-widget-price-table .elementor-price-table__price{
    font-weight:600
}
.elementor-widget-price-table .elementor-price-table__original-price{
    color:#ddd;
    font-weight:600
}
.elementor-widget-price-table .elementor-price-table__period{
    color:#ddd;
    font-weight:400
}
.elementor-widget-price-table .elementor-price-table__features-list{
    color:#ddd
}
.elementor-widget-price-table .elementor-price-table__features-list li{
    font-weight:400
}
.elementor-widget-price-table .elementor-price-table__features-list li:before{
    border-top-color:#ddd
}
.elementor-widget-price-table .elementor-price-table__button{
    font-weight:500;
    background-color:#ddd
}
.elementor-widget-price-table .elementor-price-table__additional_info{
    color:#ddd;
    font-weight:400
}
.elementor-widget-price-table .elementor-price-table__ribbon-inner{
    background-color:#ddd;
    font-weight:500
}
.elementor-widget-flip-box .elementor-flip-box__front .elementor-flip-box__layer__title{
    font-weight:600
}
.elementor-widget-flip-box .elementor-flip-box__front .elementor-flip-box__layer__description{
    font-weight:400
}
.elementor-widget-flip-box .elementor-flip-box__back .elementor-flip-box__layer__title{
    font-weight:600
}
.elementor-widget-flip-box .elementor-flip-box__back .elementor-flip-box__layer__description{
    font-weight:400
}
.elementor-widget-flip-box .elementor-flip-box__button{
    font-weight:500
}
.elementor-widget-call-to-action .elementor-cta__title{
    font-weight:600
}
.elementor-widget-call-to-action .elementor-cta__description{
    font-weight:400
}
.elementor-widget-call-to-action .elementor-cta__button{
    font-weight:500
}
.elementor-widget-call-to-action .elementor-ribbon-inner{
    background-color:#ddd;
    font-weight:500
}
.elementor-widget-media-carousel .elementor-carousel-image-overlay{
    font-weight:500
}
.elementor-widget-testimonial-carousel .elementor-testimonial__text{
    color:#ddd;
    font-weight:400
}
.elementor-widget-testimonial-carousel .elementor-testimonial__name{
    color:#ddd;
    font-weight:600
}
.elementor-widget-testimonial-carousel .elementor-testimonial__title{
    color:#ddd;
    font-weight:400
}
.elementor-widget-reviews .elementor-testimonial__header,.elementor-widget-reviews .elementor-testimonial__name{
    font-weight:600
}
.elementor-widget-reviews .elementor-testimonial__text{
    font-weight:400
}
.elementor-widget-table-of-contents{
    --header-color:#ddd;
    --item-text-color:#ddd;
    --item-text-hover-color:#ddd;
    --marker-color:#ddd
}
.elementor-widget-table-of-contents .elementor-toc__header,.elementor-widget-table-of-contents .elementor-toc__header-title{
    font-weight:600
}
.elementor-widget-table-of-contents .elementor-toc__list-item{
    font-weight:400
}
.elementor-widget-countdown .elementor-countdown-item{
    background-color:#ddd
}
.elementor-widget-countdown .elementor-countdown-digits{
    font-weight:400
}
.elementor-widget-countdown .elementor-countdown-label{
    font-weight:400
}
.elementor-widget-countdown .elementor-countdown-expire--message{
    color:#ddd;
    font-weight:400
}
.elementor-widget-search-form input[type=search].elementor-search-form__input{
    font-weight:400
}
.elementor-widget-search-form .elementor-search-form__input,.elementor-widget-search-form .elementor-search-form__icon,.elementor-widget-search-form .elementor-lightbox .dialog-lightbox-close-button,.elementor-widget-search-form .elementor-lightbox .dialog-lightbox-close-button:hover,.elementor-widget-search-form.elementor-search-form--skin-full_screen input[type=search].elementor-search-form__input{
    color:#ddd
}
.elementor-widget-search-form .elementor-search-form__submit{
    font-weight:400;
    background-color:#ddd
}
.elementor-widget-author-box .elementor-author-box__name{
    color:#ddd;
    font-weight:600
}
.elementor-widget-author-box .elementor-author-box__bio{
    color:#ddd;
    font-weight:400
}
.elementor-widget-author-box .elementor-author-box__button{
    color:#ddd;
    border-color:#ddd;
    font-weight:500
}
.elementor-widget-author-box .elementor-author-box__button:hover{
    border-color:#ddd;
    color:#ddd
}
.elementor-widget-post-navigation span.post-navigation__prev--label{
    color:#ddd
}
.elementor-widget-post-navigation span.post-navigation__next--label{
    color:#ddd
}
.elementor-widget-post-navigation span.post-navigation__prev--label,.elementor-widget-post-navigation span.post-navigation__next--label{
    font-weight:400
}
.elementor-widget-post-navigation span.post-navigation__prev--title,.elementor-widget-post-navigation span.post-navigation__next--title{
    color:#ddd;
    font-weight:400
}
.elementor-widget-post-info .elementor-icon-list-item:not(:last-child):after{
    border-color:#ddd
}
.elementor-widget-post-info .elementor-icon-list-icon i{
    color:#ddd
}
.elementor-widget-post-info .elementor-icon-list-icon svg{
    fill:#ddd
}
.elementor-widget-post-info .elementor-icon-list-text,.elementor-widget-post-info .elementor-icon-list-text a{
    color:#ddd
}
.elementor-widget-post-info .elementor-icon-list-item{
    font-weight:400
}
.elementor-widget-sitemap .elementor-sitemap-title{
    color:#ddd;
    font-weight:600
}
.elementor-widget-sitemap .elementor-sitemap-item,.elementor-widget-sitemap span.elementor-sitemap-list,.elementor-widget-sitemap .elementor-sitemap-item a{
    color:#ddd;
    font-weight:400
}
.elementor-widget-sitemap .elementor-sitemap-item{
    color:#ddd
}
.elementor-widget-blockquote .elementor-blockquote__content{
    color:#ddd
}
.elementor-widget-blockquote .elementor-blockquote__author{
    color:#ddd
}
